.DS_Store
CMakeCache.txt
CMakeFiles
CMakeScripts
#Makefile
cmake_install.cmake
install_manifest.txt
/build/
.c9/
*.o
*.d
*.dpp
xsens/*/*.a
xsens/example
node/npm-debug.log
node/node_modules
node/build
